    body {
        background-color: #fff;
        padding: 0;
        margin: 0;
    }
    
     :root {
        --bg-color:#83c5be;
        --text-color:#17473d;
        --width: 1.2rem;
        --height: 4rem;
        --curve: cubic-bezier(0, 1, 0.61, 1);
        --curve1: cubic-bezier(1, 0, 1, 0.5);
    }
    
    .intro {
        gap: 1rem;
        font-size: 25px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        background: var(--bg-color);
        transition: 800ms;
    }
    
    .line {
        position: absolute;
        height: var(--height);
        width: var(--width);
        top: 45vh;
        transform: translateY(-50%);
        background-color: var(--text-color);
    }
    
    .zero {
        height: var(--width);
        width: calc(var(--height) * 0.4);
        left: calc(50% - 145px);
        top: calc(45vh + 23px);
        transform: skewX(-25deg) translateX(-50vw) scaleX(5);
        transform-origin: right;
        animation: horizontal 800ms var(--curve) forwards, go-up 600ms var(--curve1) forwards 850ms;
    }
    
    .One {
        left: calc(50% - 120px);
        transform: skewX(-25deg) translateY(45vh) scaleY(5);
        transform-origin: top right;
        animation: positive-slope 800ms var(--curve) forwards 20ms, go-up 600ms var(--curve1) forwards 850ms;
    }
    
    .two {
        left: calc(50% - 115px);
        transform: skewX(5deg) translateY(-60vh) scaleY(5);
        transform-origin: bottom left;
        animation: negative-slope 800ms var(--curve) forwards 40ms, go-up 600ms var(--curve1) forwards 850ms;
    }
    
    .three {
        left: calc(50% - 94px);
        transform: skewX(-25deg) translateY(-60vh) scaleY(5);
        transform-origin: bottom left;
        animation: positive-slope 800ms var(--curve) forwards 20ms, go-up 600ms var(--curve1) forwards 860ms;
    }
    
    .four {
        height: var(--width);
        width: calc(var(--height)*0.8);
        left: calc(50% - 90px);
        top: calc(45vh + 36px);
        border-radius: 0 0.5px 0.5px 0;
        transform: skewX(-25deg) translateX(55px);
        transform-origin: left;
        animation: new 300ms var(--curve) forwards 400ms, go-up 600ms var(--curve1) forwards 860ms;
    }
    @keyframes new{
        to{
            transform: skewX(-25deg) translateX(0px);
        }
    }
    
    .five {
        position: absolute;
        left: calc(50% - 60px);
        top: 45vh;
        transform: skew(-4deg);
    animation:go-up 600ms var(--curve1) forwards 870ms
    }
    
    .six {
        left: calc(50% + 50px);
        transform: skewX(-25deg) translateY(45vh) scaleY(5);
        transform-origin: top right;
        animation: positive-slope 800ms var(--curve) forwards 80ms, go-up 600ms var(--curve1) forwards 880ms;
    }
    
    .seven {
        height: var(--width);
        width: var(--height);
        left: calc(50% + 30px);
        transform: skewX(-25deg) translateX(+50vw) scaleX(5);
        transform-origin: left;
        animation: horizontal 800ms var(--curve) forwards, go-up 600ms var(--curve1) forwards 880ms;
    }
    
    .eight {
        position: absolute;
        left: calc(50% + 58px);
        top: 45vh;
        animation: go-up 600ms var(--curve1) forwards 900ms;
    }
    
    .circle-reveal {
        position: absolute;
        left: calc(50% + 81px);
        top: 45vh;
        width: 54px;
        height: 52px;
        transform: skewX(-5deg);
        border-radius: 50% 35%;
        background: var(--bg-color);
        animation: crcl-reveal 1000ms var(--curve)forwards 200ms, go-up 600ms var(--curve1) forwards 900ms;
    }
    @keyframes crcl-reveal {
        to{
            transform: scale(0);
        }
    }
    
    
    .nein4 {
        position: absolute;
        height: 4rem;
        width: 4rem;
        top: calc(45vh);
        left: calc(50% - 35px);
        background-color: var(--bg-color);
        transform: skewX(-25deg) translateX(0);
        transform-origin: center center;
        animation: reveal 0.2s linear forwards 200ms, go-up 600ms var(--curve1) forwards 870ms;
    }
    @keyframes reveal {
        to{
            transform:skewX(-25deg) translateY(4.5rem);
        }
    }
    
    .nine {
        left: calc(50% + 155px);
        transform: skewX(-25deg) translateY(45vh) scaleY(5);
        transform-origin: top right;
        animation: positive-slope 800ms var(--curve) forwards 60ms, go-up 600ms var(--curve1) forwards 900ms;
    }
    
    .ten {
        left: calc(50% + 155px);
        transform: skewX(5deg) translateY(45vh) scaleY(5);
        transform-origin: top right;
        animation: negative-slope 800ms var(--curve) forwards 40ms, go-up 600ms var(--curve1) forwards 900ms;
    }
    
    .eleven {
        left: calc(50% + 160px);
        transform: skewX(-25deg) translateY(-60vh) scaleY(5);
        transform-origin: bottom left;
        animation: positive-slope 800ms var(--curve) forwards 20ms, go-up 600ms var(--curve1) forwards 900ms;
    }
    @keyframes horizontal{
    60%{
        transform:skewX(-25deg) scaleX(1.02);
    }
    to{
        transform:skewX(-25deg) scaleX(1) translateX(0);
    }
}
@keyframes positive-slope{
    60%{
        transform:skewX(-25deg) scaleY(1.02);
    }
    to{
        transform:skewX(-25deg) scaleY(1) translateY(0);
    }
}
@keyframes negative-slope{
    60%{
        transform:skewX(5deg) scaleY(1.02);
    }
    to{
        transform:skewX(5deg) scaleY(1) translateY(0);
    }
}


@keyframes go-up{
    70%{
        filter: opacity(1);
    }
    to{
        filter: opacity(0);
        transform: translateY(-25vh);
    }
}

