    body {
        background-color: #fff;
        padding: 0;
        margin: 0;
    }
    
     :root {
        --bg-color:#83c5be;
        --text-color:#17473d;
        --width: 0.5rem;
        --height: 2rem;
        --curve: cubic-bezier(0, 1, 0.61, 1);
        --curve1: cubic-bezier(1, 0, 1, 0.5);
    }
    
    .intro {
        gap: 1rem;
        font-size: 25px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        background: var(--bg-color);
        transition: 800ms;
    }
    
    .line {
        position: absolute;
        height: var(--height);
        width: var(--width);
        top: 50vh;
        transform: translateY(-50%);
        background-color: var(--text-color);
    }
    
    .zero {
        height: var(--width);
        width: calc(var(--height) * 0.4);
        left: calc(50% - 90px);
        top: calc(50vh + 13px);
        transform: skewX(-25deg) translateX(-50vw) scaleX(5);
        transform-origin: right;
        animation: horizontal 800ms var(--curve) forwards, go-up 600ms var(--curve1) forwards 850ms;
    }
    
    .One {
        left: calc(50% - 72px);
        transform: skewX(-25deg) translateY(50vh) scaleY(5);
        transform-origin: top right;
        animation: positive-slope 800ms var(--curve) forwards 20ms, go-up 600ms var(--curve1) forwards 850ms;
    }
    
    .two {
        left: calc(50% - 68px);
        transform: skewX(5deg) translateY(-60vh) scaleY(5);
        transform-origin: bottom left;
        animation: negative-slope 800ms var(--curve) forwards 40ms, go-up 600ms var(--curve1) forwards 850ms;
    }
    
    .three {
        left: calc(50% - 55px);
        transform: skewX(-25deg) translateY(-60vh) scaleY(5);
        transform-origin: bottom left;
        animation: positive-slope 800ms var(--curve) forwards 20ms, go-up 600ms var(--curve1) forwards 860ms;
    }
    
    .four {
        height: 0.5rem;
        width: 1.5rem;
        left: calc(50% - 50px);
        top: calc(50vh + 22px);
        border-radius: 0 0.5px 0.5px 0;
        transform: skewX(-25deg) translateX(32px);
        transform-origin: left;
        animation: new 300ms var(--curve) forwards 400ms, go-up 600ms var(--curve1) forwards 860ms;
    }
    @keyframes new{
        to{
            transform: skewX(-25deg) translateX(0px);
        }
    }
    
    .five {
        position: absolute;
        left: calc(50% - 25px);
        top: 50vh;
    animation:go-up 600ms var(--curve1) forwards 870ms
    }
    
    .six {
        left: calc(50% + 32px);
        transform: skewX(-25deg) translateY(50vh) scaleY(5);
        transform-origin: top right;
        animation: positive-slope 800ms var(--curve) forwards 80ms, go-up 600ms var(--curve1) forwards 880ms;
    }
    
    .seven {
        height: var(--width);
        width: var(--height);
        left: calc(50% + 20px);
        transform: skewX(-25deg) translateX(+50vw) scaleX(5);
        transform-origin: left;
        animation: horizontal 800ms var(--curve) forwards, go-up 600ms var(--curve1) forwards 880ms;
    }
    
    .eight {
        height: var(--height);
        width: calc(var(--width) * 4.4);
        position: absolute;
        left: calc(50% + 50px);
        top: 50vh;
        animation: go-up 600ms var(--curve1) forwards 900ms;
    }
    
    .circle-reveal {
        position: absolute;
        left: calc(50% + 50px);
        top: 50vh;
        width: 32px;
        height: 31px;
        border-radius: 17px 9px 17px 9px;
        background: var(--bg-color);
        animation: crcl-reveal 1000ms var(--curve)forwards 200ms, go-up 600ms var(--curve1) forwards 900ms;
    }
    @keyframes crcl-reveal {
        to{
            transform: scale(0);
        }
    }
    
    
    .nein4 {
        position: absolute;
        height: 2.1rem;
        width: 2.1rem;
        top: calc(50vh);
        left: calc(50% - 20px);
        background-color: var(--bg-color);
        transform: skewX(-25deg) translateX(0);
        transform-origin: center center;
        animation: reveal 0.3s linear forwards 100ms, go-up 600ms var(--curve1) forwards 870ms;
    }
    @keyframes reveal {
        to{
            transform:skewX(-25deg) translateY(2rem);
        }
    }
    
    .nine {
        left: calc(50% + 95px);
        transform: skewX(-25deg) translateY(50vh) scaleY(5);
        transform-origin: top right;
        animation: positive-slope 800ms var(--curve) forwards 60ms, go-up 600ms var(--curve1) forwards 920ms;
    }
    
    .ten {
        left: calc(50% + 95px);
        transform: skewX(5deg) translateY(50vh) scaleY(5);
        transform-origin: top right;
        animation: negative-slope 800ms var(--curve) forwards 40ms, go-up 600ms var(--curve1) forwards 920ms;
    }
    
    .eleven {
        left: calc(50% + 100px);
        transform: skewX(-25deg) translateY(-60vh) scaleY(5);
        transform-origin: bottom left;
        animation: positive-slope 800ms var(--curve) forwards 20ms, go-up 600ms var(--curve1) forwards 920ms;
    }
    @keyframes horizontal{
    60%{
        transform:skewX(-25deg) scaleX(1.02);
    }
    to{
        transform:skewX(-25deg) scaleX(1) translateX(0);
    }
}
@keyframes positive-slope{
    60%{
        transform:skewX(-25deg) scaleY(1.02);
    }
    to{
        transform:skewX(-25deg) scaleY(1) translateY(0);
    }
}
@keyframes negative-slope{
    60%{
        transform:skewX(5deg) scaleY(1.02);
    }
    to{
        transform:skewX(5deg) scaleY(1) translateY(0);
    }
}


@keyframes go-up {
    to{
        filter: opacity(0);
        transform: translateY(-25vh);
    }
}
    /* 4,5,8 remaining */

