:root{
    --text-primary: rgba(0, 0, 0, 0.514);
    --text-secondary: rgb(242, 242, 242);
    --text-nav: rgb(23, 71, 61);
    --bg-primary: #E1E4E5;
    --bg-secondary:rgb(131,197,190);

}
*::before,
*::after{
    display: block;
}

::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background: var(--bg-secondary);
}
::-webkit-scrollbar-thumb{
    background-color: #006D77;
    border-radius: 0.5rem;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 200px;
}
body{
    position: relative;
    margin: 0;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    background-color: var(--bg-primary);
    overflow-x: hidden;
}
header{
    font-family: 'Concert One', cursive;
    font-size: 20px;
    background-color: var(--bg-secondary);
    color: var(--text-nav);
    font-weight: 100;
    position: fixed; 
    width: 100%;
    z-index: 999;
    border-radius: 0 0 .25rem 0.25rem;
}
.nav-head{
    display:flex;
    justify-content: space-between;
    padding: 1.2rem 3rem;
    align-items: center;
}

.nav-links {
    margin: 0 1rem;
}
.nav-content{
    display: flex;
}
.nav-links>a{
    position: relative;
    width: max-content;
    text-decoration: none;
    color: var(--text-nav);
    opacity:1;
    transition: opacity 200ms ease-in;
}

.nav-links>a::before{
    content: '';
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -5px;
    left:0;
    right:0;
    transform: scaleX(0);
    transition: transform ease-in 100ms;
    background-color: #006D77;
}
.nav-links>a:hover,
.nav-links>a:hover::before{
    opacity:0.8;
    transform: scaleX(1);
}
.hamburger{
    background: transparent;
    border: none;
}
.hamburger>span{
    display: none;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-primary);
}

.skew{
    position: relative;
    background-color: var(--bg-secondary);
    height:100px;
    z-index: -1;
}

.skew::after{
    position: absolute;
    width: 100%;
    height: 1000%;
    content: '';
    background:inherit;
    left:0;
    right:0;
    top: 1;
    bottom:0;
    transform-origin: top right;
    transform: skewY(-20deg);

}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center; 
    padding-bottom: 2rem;
    color: var(--text-nav);
}
.banner>div{
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-align: left;
}
.banner img{
    width: 60vw;
}

.laguages,
.text,
.images{
    display: flex;
    justify-content: center;
}
.text>ul,
.images>ul{
    list-style: none;
}
.one{
    position: relative;
    width: 100%;
    text-align: center;
}
footer section{
    position: relative;
    margin-top: 10rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    background:var(--bg-secondary);

}
footer p{
    color: var(--text-primary);
}
footer div{
    display: flex; 
    align-items: center; 
    justify-content: center;
    column-gap: 5px;
}
footer section::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: inherit;
    left:0;
    right:0;
    bottom:0;
    transform-origin: bottom left;
    transform: skewY(-15deg);
    z-index: -1;
}
.info{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.social{
    position: fixed;
    bottom: -0px;
    z-index: 99;
    transition: 250ms ease;
}
.social:hover{
    bottom: 50px;
}
.social::after{
    content: '';
    height: 100px;
    width: 3px;
    background-color: #006D77;
    position: absolute;
    bottom: -10;
    right: 25%;

}
.social ul{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    row-gap: 1rem;
    
}
.social img{
    width: 30px;
    padding: 5px;
    filter: grayscale(1);
    transition: filter 100ms ease;
}
.social img:hover{
    filter: grayscale(0);
    box-shadow: 0 0 0.125 var(--text-nav);
}
.contact textarea{
    resize: none;
}


input,textarea{
    border: none;
    appearance: none;
    background: #999999;
    padding: 12px;
    border-radius: 3px;
    min-width: 100px;
    max-width: 350px;
    outline: none;
}
iframe{
    width:70%; 
    height:420px;
}
@media screen and (max-width:900px){
    .banner>div{
        font-size: 13px;
        margin-left: 0rem;
    }
    .banner>img{
        width:50vw;
    }
}
@media screen and (max-width:600px){
    .skew::after{
        width: 200%;
    }
    .banner>img{
        width:80vw;
    }
    footer section,.banner{
        flex-direction: column;
    }
    iframe{
        width:80%
    }
    .nav-content,
    .list-style{
        flex-direction: column;
    }
    .nav-links{
        display: none;
    }
    .hamburger>span {
        display: block;
        cursor: pointer;
    }
    .social{
        bottom: 0;
        left: 0px;
        /* transition: 250ms ease; */
    }
    .social:hover{
        bottom: 0;
    }
    .social ul{
        flex-direction: row;
        column-gap: 1rem;
    }
    .social::after{
        width: 100px;
        height: 3px;
        top: 50%;
        left:-60px;
    }
    .hamburger.active>span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active>span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active>span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
