:root{
    --text-primary: rgb(200, 200, 200);
    --text-nav: rgb(242, 242, 242);
    --text-secondary: rgb(200, 200, 200);
    --bg-primary: rgb(52, 68, 108);

}
*::before,
*::after{
    display: block;
}

::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 0);
    border-radius: 0.5rem;
}

body{
    position: relative;
    margin: 0;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    background-color: var(--bg-primary);
}

header{
    position: fixed;
    width: 100%;
}
nav{
    background-color: var(--bg-primary);
    display:flex;
    justify-content: space-between;
    padding: 1.2rem 3rem;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    color: var(--text-nav);
    

}
.list-style{
    display: flex;
    list-style: none;

}

.nav-link>a{
    padding: 0 1rem;
    text-decoration: none;
    color: var(--text-nav);
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center; 
    color: var(--text-nav);
}
.banner>div{
    display: flex; flex-direction: column; gap: 1rem;
    text-align: left;
}
.banner img{
    width: 60vw;
}


@media screen and (max-width:600px){
    nav{
        display: none;
    }
    
}